
/* global.css */

body{
  font-family: 'Apple SD Gothic Neo', sans-serif; /* Added Apple Korean Font */
  background-color: black;
}
#container {
  text-align: center;
  margin-top: 20px;
}

#upload-image {
  width: 180px;
  max-width: 100%;
  margin-bottom: 20px;
}

#fileInput-wrapper {
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  cursor: pointer;
}

#fileInput-wrapper:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
}

#fileInput {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* Animation related styles */
#fileInput-wrapper span {
  position: absolute;
  display: block;
}

#fileInput-wrapper span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

#fileInput-wrapper span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

#fileInput-wrapper span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

#fileInput-wrapper span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
/* General settings */
.prediction-bar {
  border-radius: 12px;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Red neon */
.prediction-bar-0 {
  background-color: #FF5733;
  animation-name: glow-0;
}
@keyframes glow-0 {
  0%, 100% {
    box-shadow: 0 0 5px #FF5733, 0 0 10px #FF5733;
  }
  50% {
    box-shadow: 0 0 20px #FF5733, 0 0 30px #FF5733;
  }
}

/* ... same for each color */
/* Orange neon */
.prediction-bar-1 {
  background-color: #FFC300;
  animation-name: glow-1;
}
@keyframes glow-1 {
  0%, 100% {
    box-shadow: 0 0 5px #FFC300, 0 0 10px #FFC300;
  }
  50% {
    box-shadow: 0 0 20px #FFC300, 0 0 30px #FFC300;
  }
}

/* Yellow neon */
.prediction-bar-2 {
  background-color: #FFD700;
  animation-name: glow-2;
}
@keyframes glow-2 {
  0%, 100% {
    box-shadow: 0 0 5px #FFD700, 0 0 10px #FFD700;
  }
  50% {
    box-shadow: 0 0 20px #FFD700, 0 0 30px #FFD700;
  }
}

/* Green neon */
.prediction-bar-3 {
  background-color: #DAF7A6;
  animation-name: glow-3;
}
@keyframes glow-3 {
  0%, 100% {
    box-shadow: 0 0 5px #DAF7A6, 0 0 10px #DAF7A6;
  }
  50% {
    box-shadow: 0 0 20px #DAF7A6, 0 0 30px #DAF7A6;
  }
}

/* Blue neon */
.prediction-bar-4 {
  background-color: #3498DB;
  animation-name: glow-4;
}
@keyframes glow-4 {
  0%, 100% {
    box-shadow: 0 0 5px #3498DB, 0 0 10px #3498DB;
  }
  50% {
    box-shadow: 0 0 20px #3498DB, 0 0 30px #3498DB;
  }
}

/* Indigo neon */
.prediction-bar-5 {
  background-color: #581845;
  animation-name: glow-5;
}
@keyframes glow-5 {
  0%, 100% {
    box-shadow: 0 0 5px #581845, 0 0 10px #581845;
  }
  50% {
    box-shadow: 0 0 20px #581845, 0 0 30px #581845;
  }
}

/* Violet neon */
.prediction-bar-6 {
  background-color: #8E44AD;
  animation-name: glow-6;
}
@keyframes glow-6 {
  0%, 100% {
    box-shadow: 0 0 5px #8E44AD, 0 0 10px #8E44AD;
  }
  50% {
    box-shadow: 0 0 20px #8E44AD, 0 0 30px #8E44AD;
  }
}


